---
import StickyNote from "../ui/StickyNote.astro";
---

<footer class="h-48 flex justify-center items-center">
    <StickyNote color="yellow" width="auto">
        <p class="pt-5 text-base">
            © 2026 · nick vu · ver 1.0 · made by hand with
            astro, self-hosted on the head node (a wild optiplex 7050)
        </p>
    </StickyNote>
</footer>
