---
import Paper from "../ui/Paper.astro"
import NavMobile from "../sections/NavMobile.astro"
import resumeUrl from "../../assets/Nick_Vu_Resume.pdf"
---

<header
    class="
        sticky top-0 z-50
        grid h-18 grid-cols-[auto_1fr] items-stretch

        min-[832px]:grid-cols-[1fr_auto_1fr]
    "
>
    <Paper class="justify-self-start" torn="right">
        <a href="#top">
            <h3 class="font-semibold text-logo-ink [text-shadow:0_1px_0_#ffffff59] text-[1.5rem]!">
                Nick Vu
            </h3>
        </a>
    </Paper>

    <div class="hidden justify-self-center min-[832px]:block">
        <Paper torn={["right", "left"]}>
            <nav
            class="flex items-center gap-4 *:text-[1.2rem] *:font-semibold *:text-nav-ink"
            >
                <a href="#experience">experience</a>
                <a href="#projects">projects</a>
                <a href="#contact">contact</a>
                <p>blog(coming soon)</p>
            </nav>
        </Paper>
    </div>

    <div class="hidden justify-self-end min-[832px]:block">
        <Paper torn="left">
            <a
              href={resumeUrl}
              target="_blank"
              rel="noreferrer"
              class="cursor-pointer text-nav-ink font-text"
              aria-label="Shows resume"
            >
              <h3>resume</h3>
            </a>
        </Paper>
    </div>


    <div class="justify-self-end min-[832px]:hidden">
        <NavMobile />
    </div>


</header>
