<!-- <a href="tel:5174027981" class="group inline-block">
    <span class="group-hover:hidden">
        phone
    </span>

    <span class="hidden group-hover:inline">
        517-402-7981
    </span>
</a>


<a href="mailto:nick.dev.8888@gmail.com" class="group inline-block">
    <span class="group-hover:hidden">
        email
    </span>

    <span class="hidden group-hover:inline">
        nick.dev.8888@gmail.com
    </span>
</a>

<a 
    href="https://github.com/Dknx8888" target="_blank" rel="noreferrer"
    class="group inline-block"
>
    <span class="group-hover:hidden">
        github
    </span>

    <span class="hidden group-hover:inline">
        Dknx8888
    </span>
</a>

<a 
    href="https://www.linkedin.com/in/nick-duc-vu" target="_blank" rel="noreferrer"
    class="group inline-block"
>
    <span class="group-hover:hidden">
        linkedin
    </span>

    <span class="hidden group-hover:inline">
        nick-duc-vu
    </span>
</a> -->