---
import {Image} from "astro:assets"
import StickyNote from "../ui/StickyNote.astro"
import sampleAvt from "../../assets/sampleavt.jpg"
---

<section class="grid grid-cols-[1fr_auto]">
    <div>
        <h1>Hello!</h1>
        <h1 class="-mt-4.25">I'm Nick.</h1>
    </div>

    <div class="flex justify-center">
        <StickyNote type="photo" width="clamp(208px,28vh,268px)">
            <Image src={sampleAvt} alt="Nick's avatar" />
        </StickyNote>
    </div>
</section>

<div class="translate-y-7.75">
    <h3>I'm a Senior Computer Science student at Michigan State University.</h3>
    <h3>When I'm not building software products, I enjoy tinkering with old technologies and experimenting with my homelab.</h3>
</div>
