---
import ProjectCard from "../ui/ProjectCard.astro"
import { projects } from "../../data/projects";
---

<section>
    <h1>Projects</h1>

    <section>
        {projects.map((p) => (
        <ProjectCard
            banner={p.banner}
            title={p.title}
            description={p.description}
            github={p.github}
        />
        ))}
    </section>
</section>
