---
import PaperStack from "../components/ui/PaperStack.astro";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

import Greetings from "../components/sections/Greetings.astro";
import CardsSection from "../components/sections/CardsSection.astro";
import Skills from "../components/sections/Skills.astro";
import Experiences from "../components/sections/Experiences.astro";
import Projects from "../components/sections/Projects.astro";

import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <script
            src="https://kit.fontawesome.com/b4fb913b49.js"
            crossorigin="anonymous"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Header />
        <main class="max-w-360 mx-auto flex flex-col">
            <section class="hero">
                <PaperStack pinColor="red">
                    <Greetings />
                </PaperStack>

                <div class="cards-space">
                    <div class="cards-width">
                        <CardsSection />
                    </div>
                </div>
            </section>

            <PaperStack pinColor="yellow">
                <Skills />
            </PaperStack>
            <PaperStack pinColor="blue">
                <Experiences />
            </PaperStack>
            <PaperStack pinColor="green">
                <Projects />
            </PaperStack>
        </main>
        <Footer />

    </body>
</html>

<style>
    body {
        background-color: #8c6746;
        background-image: url("https://www.transparenttextures.com/patterns/felt.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ 
    }

    .hero {
        min-height: calc(100svh - 4.5rem);
        display: grid;
        grid-template-rows: auto 1fr;
    }
    
    .cards-space {
        display: flex;
        align-items: center;
        min-height: 0;
    }

    .cards-width {
        width: 100%;
    }



</style>
