---
import PaperStack from "../components/ui/PaperStack.astro";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

import Greetings from "../components/sections/Greetings.astro";
import Skills from "../components/sections/Skills.astro";
import Experiences from "../components/sections/Experiences.astro";
import Projects from "../components/sections/Projects.astro";

import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <script
            src="https://kit.fontawesome.com/b4fb913b49.js"
            crossorigin="anonymous"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Nick Vu</title>
    </head>
    <body id="top">
        <Header />
        <main class="max-w-360 mx-auto flex flex-col">
            <section class="hero">
                <PaperStack pinColor="red">
                    <Greetings />
                </PaperStack>

                <div class="cards-space">
                    <div class="cards-width">
                        <Skills />
                    </div>
                </div>
            </section>

            <PaperStack pinColor="yellow">
                <Experiences />
            </PaperStack>
            <PaperStack pinColor="blue">
                <Projects />
            </PaperStack>
        </main>
        <Footer />
    </body>
</html>

<style>
    /* Taken from https://www.transparenttextures.com/ */
    body {
        background-color: #8c6746;
        background-image: url("../assets/textures/felt.png");
    }

    .hero {
        min-height: calc(100svh - 4.5rem);
        display: grid;
        grid-template-rows: auto 1fr;
    }
    
    .cards-space {
        display: flex;
        align-items: center;
        min-height: 0;
        transform: translateY(0.4rem);
    }

    .cards-width {
        width: 100%;
    }

    @media (max-height: 800px) and (max-width: 1450px) {
        .cards-space {
            padding-top: 30px;
        }
    }
</style>
