---
import StickyNote from "./StickyNote.astro"
import sampleAvt from "../assets/sampleavt.jpg"
---

<section class="grid grid-cols-1 md:grid-cols-[1fr_auto] gap-8 md:gap-12 items-start pb-5">
    <div>
        <h1 class="font-greeting text-9xl mt-6 pb-4">Hello!</h1>
        <h1 class="font-greeting text-9xl pb-7">I'm Nick.</h1>
    </div>

    <div class="flex justify-center">
        <StickyNote type="photo" width="350px">
            <img src={sampleAvt.src} alt="Nick's avatar" />
        </StickyNote>
    </div>
</section>

<p class="font-text text-4xl">I'm a Senior Computer Science student at Michigan State University.</p>
<p class="font-text text-4xl">When I am not building software products, I enjoy tinkering with old technologies and experimenting with my homelab.</p>