---
import StickyNote from "./StickyNote.astro";
---

<StickyNote color="yellow">
    <p>Never</p>
</StickyNote>

<StickyNote color="blue">
    <p>Gonna</p>
</StickyNote>

<StickyNote color="green">
    <p>Give</p>
</StickyNote>

<StickyNote color="pink">
    <p>You</p>
</StickyNote>